body
{
    background-color: #EEEEEE;
}

.menu {
    font-size:14pt;
    font-family:'メイリオ';
    color:white;
    background-color:#7777CC;
    text-align:center;
    border-radius:6px;
    border-top:4px solid #AAAAFF;
    border-left:4px solid #8888DD;
    border-right:4px solid #6666BB;
    border-bottom:4px solid #444499;
    margin:6px;
}

.menu li {
    list-style:none;
    border-left:10px solid #0000FF;
    background-color:#555555;
    width:240px;
}

.menu li a {
    display:block;
    color:white;
    text-decoration:none;
}

.menu li a:hover {
    width:265px;
    background-color:#CC5555;
    border-left:5px solid #0000FF;
}
