.diffgreen {
	color : green;
}
.diffcyan {
	color : #00c0c0;
}
.diffblue {
	color : blue;
}
.diffyellow {
	color : #c0c000;
}
.difforange {
	color : #ff8000;
}
.diffred {
	color : red;
}
